$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue: hsl(207, 26%, 17%);
$very-dark-blue2: hsl(200, 15%, 8%);

$dark-gray: hsl(0, 0%, 52%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// - Mobile: 375px
// - Desktop: 1440px

// - Homepage Items: 14px
// - Detail Page: 16px

// - Family: [Nunito Sans](https://fonts.google.com/specimen/Nunito+Sans)
// - Weights: 300, 600, 800

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input {
  &:focus-visible {
    outline-color: transparent;
  }
}

html {
  font-family: 'Nunito Sans', sans-serif;

  background-color: $very-dark-blue;
  color: $white;
}

body {
  max-width: 1440px;
  margin-inline: auto;
}

.header {
  padding: 2.5rem 1rem;

  background-color: $dark-blue;

  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 1rem;
    font-weight: 600;
  }

  .dark-mode {
    display: flex;
    align-items: center;
    cursor: pointer;

    font-size: 14px;

    svg {
      height: 1rem;
      width: 1.75rem;
      fill: $white;
      rotate: 320deg;
    }
  }
}
